[opener]
edit = [
	{ run = 'codium "$@"', block = true },
]

[open]
rules = [
	{ mime = "text/*", use = "edit" },
	{ mime = "application/json", use = "edit" },
	{ mime = "application/x-yaml", use = "edit" },
]
